<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Assignment1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CheckLoginServlet</display-name>
    <servlet-name>CheckLoginServlet</servlet-name>
    <servlet-class>org.wis.servlet.CheckLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckLoginServlet</servlet-name>
    <url-pattern>/CheckLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckRegisterServlet</display-name>
    <servlet-name>CheckRegisterServlet</servlet-name>
    <servlet-class>org.wis.servlet.CheckRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckRegisterServlet</servlet-name>
    <url-pattern>/CheckRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FailHandlerServlet</display-name>
    <servlet-name>FailHandlerServlet</servlet-name>
    <servlet-class>org.wis.servlet.FailHandlerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FailHandlerServlet</servlet-name>
    <url-pattern>/FailHandlerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuccessHandlerServlet</display-name>
    <servlet-name>SuccessHandlerServlet</servlet-name>
    <servlet-class>org.wis.servlet.SuccessHandlerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuccessHandlerServlet</servlet-name>
    <url-pattern>/SuccessHandlerServlet</url-pattern>
  </servlet-mapping>
</web-app>